<div class="main-image-container poppins">
  <div class="main-title bold">
    <div>Upload a blood test</div>
    <div>result and get insights</div>
    <div>on the <span class="pink">possible causes</span></div>
    <div>and <span class="pink">next steps</span>.</div>
  </div>

  <div class="subtitle">
    Upload a file or simply take a picture with your device and let our OCR (Optical Character Recognition) do the work.
  </div>

  <div class="flex space-top">
    <button class="callToActionBtn" mat-raised-button>Take picture</button>
    <button class="callToActionBtn" mat-raised-button>Upload file</button>
  </div>

</div>
