<div class="bg-gradient">
</div>
<div class="relative">
  <div class="menu-options">
    <div class="toolbar poppins">
      <div>
        <span class="bold pink big">B</span><span class="bold big">lood </span>
        <span class="bold pink big">A</span><span class="bold big">nalysis </span>
        <span class="bold pink big">M</span><span class="bold big">odel</span>
      </div>

      <div *ngIf="mobile"></div>
      <ul class="list-menu-options" *ngIf="!mobile">
        <li><a class="list-i" [ngClass]="{'bold': isMatchingPath('home')}" routerLink="/home">Home</a></li>
        <li><a class="list-i" [ngClass]="{'bold': isMatchingPath('about')}" routerLink="/about">About</a></li>
        <li><a class="list-i" [ngClass]="{'bold': isMatchingPath('test')}">Privacy policy</a></li>
        <li><a class="list-i" [ngClass]="{'bold': isMatchingPath('ddd')}">Contact</a></li>
      </ul>
      <div style="display: flex; align-items: center">

        <div class="menu-button">
          <mat-icon>clear_all</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'flex': showGrayedOut, 'block': !showGrayedOut}">
  <router-outlet></router-outlet>
  <div *ngIf="showGrayedOut" class="blurred-container">
    <div class="icons">
      <div class="icon-part">
<!--        <mat-icon>cloud_upload</mat-icon>-->
        <img src="assets/upload.png">
        <div>Upload picture or file</div>
      </div>

      <div class="icon-part">
        <img src="assets/calculate.png">
        <div>Calculate</div>
      </div>

      <div class="icon-part">
        <img src="assets/export.png">
        <div>Get causes and next steps</div>
      </div>
    </div>


  </div>
</div>
