<div class="main-image-container poppins">

  <div class="main-title bold">
    <div>The founders</div>
  </div>

  <div class="flexProfile">
      <div class="distanceRight">
        <img class="image" src="assets/image%208.png">
        <div class="name bold">Timothy Barclay</div>
        <div>medical doctor, datascientist</div>
      </div>
    <div class="distanceRight">
      <img class="image" src="assets/image%2010.png">
      <div class="name bold">William Declerck</div>
      <div>medical doctor</div>
    </div>
    <div class="distanceRight">
      <img class="image" src="assets/image%209.png">
      <div class="name bold">Francis Rousseau</div>
      <div>full stack engineer</div>
    </div>
  </div>

</div>
