<div class="main-image-container full-w poppins">
  <div *ngIf="!imageUploaded" class="result-container">
    <div class="space-left subtitle-result">Upload</div>
    <div >
      <br>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" class="file-input"
             [accept]="fileType"
             (change)="onFileSelected($event)" #fileUpload>


    </div>
  </div>


  <div *ngIf="imageUploaded" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Causes</div>
      <div *ngFor="let item of diseases">
        <ng-template [ngTemplateOutlet]="disease" [ngTemplateOutletContext]="{item:item}"></ng-template>
      </div>

    </div>
  </div>

  <div *ngIf="imageUploaded" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Next steps</div>
    </div>
  </div>


</div>


<ng-template #disease let-item="item">
  <div class="disease">
    <div class="flex">
      <div>{{item.name}}</div>
      <div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <mat-progress-bar [color]="item.color" mode="determinate" [value]="item.probability"></mat-progress-bar>
  </div>

</ng-template>
