<div class="main-image-container full-w poppins">
  <div *ngIf="!imageUploaded" class="result-container">
    <div class="space-left subtitle-result">Upload</div>

    <div class="settings">
      <mat-radio-group [(ngModel)]="compareOrAnalyze" aria-label="Select an option">
        <mat-radio-button value="1">Compare</mat-radio-button>
        <mat-radio-button value="2">Predict</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field  style="margin-top: 15px" appearance="outline">
        <mat-select [(ngModel)]="hospital">
        <mat-option [value]="'iris'">IRIS</mat-option>
          <mat-option [value]="'leuven'">UZ Leuven</mat-option>

        </mat-select>
      </mat-form-field>
    </div>


    <div >
      <br>
      <div class="drop-container">
        <div class="center-drop" (click)="fileInput.click()">
          <mat-icon style="transform: scale(2)">upload</mat-icon>
        </div>

      </div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" class="file-input"
             [accept]="fileType"
             [multiple]="true"
             (change)="onFileSelected($event)" #fileUpload>


     <br>
      <br>
      <div *ngIf="analysisBusy">
        <mat-spinner></mat-spinner>
      </div>

    </div>
  </div>

  <div *ngIf="imageUploaded && compareOrAnalyze == '2'" style="margin-top: 10px" class="bold">
    <div class="result-container">

      <mat-form-field style="margin-top: 15px" appearance="outline">
        <mat-select (selectionChange)="changeComparison()" [(ngModel)]="currentFilter">
          <mat-option [value]="item" *ngFor="let item of filterValues">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="space-left subtitle-result">Comparison</div>
      <ngx-charts-line-chart
        [view]="[900, 500]"
        [scheme]="colorScheme"
        [legend]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'File'"
        [yAxisLabel]="'Value'"
        [yScaleMin]="minScale"
        [yScaleMax]="maxScale"
        [timeline]="true"
        [results]="comparison"
      >
      </ngx-charts-line-chart>
    </div>
  </div>

  <div *ngIf="imageUploaded" style="margin-top: 10px" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Causes</div>
      <div *ngFor="let item of diseases">
        <ng-template [ngTemplateOutlet]="disease" [ngTemplateOutletContext]="{item:item}"></ng-template>
      </div>

    </div>
  </div>
  <div *ngIf="imageUploaded && compareOrAnalyze == '3'" style="margin-top: 10px" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Next steps</div>
    </div>
  </div>
  <div *ngIf="imageUploaded" style="margin-top: 10px" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Results</div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Analyse">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Analyse}} </td>
        </ng-container>

        <ng-container matColumnDef="Eenheid">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element.Eenheid}} </td>
        </ng-container>

        <ng-container matColumnDef="Referentie">
          <th mat-header-cell *matHeaderCellDef> Reference </th>
          <td mat-cell *matCellDef="let element"> {{element.Referentie}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


</div>


<ng-template #disease let-item="item">
  <div class="disease">
    <div class="flex">
      <div>{{item.name}}</div>
      <div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <mat-progress-bar [color]="item.color" mode="determinate" [value]="item.probability"></mat-progress-bar>
  </div>

</ng-template>
