<div class="main-image-container full-w poppins">
  <div *ngIf="!imageUploaded" class="result-container">
    <div class="space-left subtitle-result">Upload</div>
    <div >
      <br>
      <div class="drop-container">
        <div class="center-drop">
          <mat-icon style="transform: scale(2)">upload</mat-icon>
        </div>

      </div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" class="file-input"
             [accept]="fileType"
             (change)="onFileSelected($event)" #fileUpload>


     <br>
      <br>
      <div *ngIf="analysisBusy">
        <mat-spinner></mat-spinner>
      </div>

    </div>
  </div>


  <div *ngIf="imageUploaded" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Causes</div>
      <div *ngFor="let item of diseases">
        <ng-template [ngTemplateOutlet]="disease" [ngTemplateOutletContext]="{item:item}"></ng-template>
      </div>

    </div>
  </div>
  <div *ngIf="imageUploaded" style="margin-top: 10px" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Next steps</div>
    </div>
  </div>
  <div *ngIf="imageUploaded" style="margin-top: 10px" class="bold">
    <div class="result-container">
      <div class="space-left subtitle-result">Results</div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Analyse">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Analyse}} </td>
        </ng-container>

        <ng-container matColumnDef="Eenheid">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element.Eenheid}} </td>
        </ng-container>

        <ng-container matColumnDef="Referentie">
          <th mat-header-cell *matHeaderCellDef> Reference </th>
          <td mat-cell *matCellDef="let element"> {{element.Referentie}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


</div>


<ng-template #disease let-item="item">
  <div class="disease">
    <div class="flex">
      <div>{{item.name}}</div>
      <div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <mat-progress-bar [color]="item.color" mode="determinate" [value]="item.probability"></mat-progress-bar>
  </div>

</ng-template>
